{% extends 'base.html' %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Id Number</th>
        <th>Location</th>
        <th>Loan Amount</th>
        <th>Payable Loan</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for loan in loans %}
    <tr>
        <td>{{ loan.id }}</td>
        <td>{{ loan.name }}</td>
        <td>{{ loan.id_number }}</td>
        <td>{{ loan.location }}</td>
        <td>{{ loan.loan_amount }}</td>
        <td>{{ loan.total_loan }}</td>
        <td>{{ loan.date.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}